@import "../../mixins";
.discount-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.discount-backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.discount-modal {
    color: white;
    max-width: 50rem;
    max-height: 30rem;
    position: absolute;
    max-height: 90vh;
    border-radius: 20px;
    background-color: rgb(78, 78, 78);
    padding: 1rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    z-index: 30;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include respond(phoneB) {
        width: 60%;
        font-size: 1.5rem;
    }
    @include respond(phoneM) {
        width: 70%;
    }
    @include respond(phoneS) {
        width: 80%;
    }
}

.discount-alert-message {
    margin: auto;
    width: 60%;
    font-size: 2.6rem;
    @include respond(phoneB) {
        font-size: 2rem;
    }
}
.discount-code {
    color: transparent;
    font-size: 4rem;
    background-image: linear-gradient(
        to right bottom,
        rgb(238, 105, 105),
        yellow,
        blue
    );
    background-clip: text;
    -webkit-background-clip: text;
    margin: auto;
    border-radius: 1rem;
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
    100% {
        filter: hue-rotate(360deg);
    }
}
.discount-header {
    display: flex;
    align-items: center;
    position: relative;
    .cart-title {
        margin: 0 auto;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .cart-close-btn {
        position: absolute;
        right: 1rem;
        top: 0;
        font-size: 2rem;
        &:hover {
            cursor: pointer;
        }
    }
}
