.alert-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.alert-modal {
    width: 20rem;
    position: sticky;
    left: 50%;
    top: 20%;
    font-size: 2rem;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: rgb(181, 255, 255);
    border-radius: 0.3rem;

    padding: 1rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    z-index: 3000;
    margin-top: 5rem;
}
