.home {
    display: flex;
}
.filter-section {
    width: 15%;
    border-right: 1px solid grey;
}
.filter-label {
    font-size: 2.6rem;
    text-align: center;
}
.product-section {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    gap: 3rem;
    row-gap: 3rem;
    margin: 2rem;
    padding-left: 6rem;
}
.product-container {
    height: fit-content;
    width: 85%;
}
.product-count {
    font-size: 1.5rem;
    margin-left: 92%;
}
.sorting-buttons {
    font-size: 2rem;
}
.load-more-btn {
    font-size: 2rem;
    background-color: rgb(121, 146, 228);
    margin-bottom: 2rem;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 0.5rem;
    &:hover {
        cursor: pointer;
        transform: translateY(-0.2rem) translate(-50%);
    }
}
