.home {
    display: flex;
}
.filter-section {
    width: 15%;
    border-right: 1px solid grey;
}
.filter-label {
    font-size: 2.6rem;
    text-align: center;
}
.product-section {
    width: 85%;
    height: fit-content;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    gap: 3rem;
    row-gap: 3rem;
    margin: 2rem;
    padding-left: 6rem;
}
